        body {
            background-image: url("back.jpg");
        }
        #details {
            background-color: floralwhite;
            width: 465px;
            height: 440px;
            margin-left: 33%;
            border-radius: 5px;
            margin-bottom: -10px;
        }
        h1 {
            font-family: 'exo', sans-serif;
            padding: 5px;
        }
        h3,
        h2 {
            font-family: 'exo', sans-serif;
            padding: 5px;
            color: indianred;
        }
        img {
            width: 260px;
            height: 260px;
            margin-top: 20px;
            border-radius: 8px;
            float: left;
        }
        #image {
            float: left;
            margin-left: 2%;
            position: fixed;
            text-align: center;
            border-radius: 5px;
        }
        button {
            font-family: 'exo', sans-serif;
            font-size: 20px;
            padding: 10px 20px 10px 20px;
            border: none;
            border-radius: 2px;
            text-align: center;
            background-color: teal;
            color: #ffffff;
            margin: auto;
            cursor: pointer;
            width: 230px;
        }
        #buttons {
            text-align: center;
        }
        #options {
            text-align: center;
            padding: 5px;
            border-radius: 3px;
            color: white;
            text-decoration: none;
            position: fixed;
            margin-left: 1050px;
        }
        a {
            text-decoration: none;
            color: white;
            background: teal;
            font-family: 'exo', sans-serif;
            font-size: 20px;
            margin: 10px;
            padding: 5px;
        }
        button:hover{
            background: green;
            }