html {
    margin: auto;
    text-align: center;
    background: url('390053.jpg')
}
#gametitle {
    font-size: 30px;
    font-family: 'Exo',sans-serif;
    font-weight: 900;
    background-color:crimson;
    width: 300px;
    text-align: center;
    margin: auto;
    color: white;
    padding: 10px;
    border-radius: 5px
}
#instruction {
    font-family: calibri;
    font-size: 20px;
    font-weight: 900;
}
.box {
    width: 150px;
    background-color:darkgreen;
    margin: 8px;
    color: white;
    border-radius: 4px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    font-family: 'Exo' , sans-serif;
    border-radius: 6px;
    cursor: pointer;
    border: 2px solid black;
}
span {
    font-size: 25px;
    color: crimson
}